<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>NIIMBOT D11_H label printers are connected over Bluetooth.</string>
  <key>NSBluetoothPeripheralUsageDescription</key>
  <string>NIIMBOT D11_H label printers are connected over Bluetooth.</string>
</dict>
</plist>
